<html>
  <body>

    <div class="container">
      <div class="row">
        <div class="col">
          <% if @event.errors.any? %>
            <% @event.errors.full_messages.each do |message| %>
              <div class="alert alert-danger" role="alert">
                <%= message %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <br><br><br>
          <%= form_with model: @event, local: true do |form| %>
          <h1 class="h3 mb-3 font-weight-normal text-center">New Event</h1>
          <div class="form-group">
            <%= form.label :title, 'Titre' %>
            <%= form.text_field :title, class: 'form-control', required: true %>
          </div>
          <div class="form-group">
            <%= form.label :description, 'Description' %>
            <%= form.text_area :description, class: 'form-control', required: true %>
          </div>
            <br />
          <div class="form-group">
            <%= form.label :location, 'Localisation' %>
            <%= form.text_field :location, class: 'form-control', required: true %>
          </div>
            <br />
          <div class="form-group">
            <%= form.label :price, 'Prix' %>
            <%= form.number_field :price, class: 'form-control',required: true, placeholder: '€' %>
          </div>
            <br />
          <div class="form-group">
            <%= form.label :start_date, 'Date' %>
            <%= form.date_field :start_date, class: 'form-control' %>
          </div>
            <br />
          <div class="form-group">
            <%= form.label :duration, 'Durée' %>
            <%= form.number_field :duration, class: 'form-control',placeholder: 'min', step: 5 %>
          </div>
            <br />

          <div class="form-group">
            <p>Charger ta photo de l'évènement</p>
              <%= form.file_field :picture %><br>
          </div>
            <br />

          <div class="actions mt-5">
            <%= form.submit "Create Event", {class:'btn btn-primary'} %>
          </div>
            <br />
          <% end %>
        </div>
      </div>
    </div>

  </body>
</html>